*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --maincolor: #000a61;
}
.nav_ul_li_a{
    color:#fff;
    text-decoration: none;
    padding: 2px;
}
.na_ul_li_a:hover{
    opacity: 0.8;
}
.nav_ul li:hover{
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 6px;
}
.logo_nav{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, helvetica, Arial, sans-serif;
    background-color: var(--maincolor);
    height: 9vh;
    width: 100vw;
}
.nav_ul{
    list-style: none;
    display: flex;

}
.nav_ul li{
    letter-spacing: 3px;
    margin-left: 32px;
    padding: 6px;

}
.nav_menu_bars div{
    width: 32px;
    height: 2px;
    background: #eee;
    margin: 8px;
    transition: 0.3s;
}
.nav_menu_bars{
    display: none;
    cursor: pointer;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #ddd;
    color: #333;
}
.description{
    height: 91vh;
    display: flex;
    width: 75vw;
    align-items: center;
    justify-content: center;
    margin-left: 12vw;
}
.main_photo{
    display: flex;
    flex-basis: 50%;
    border-radius: 50%;
    justify-content: center;
    padding: 15px;
}
.main_photo img{
    width: 350px;
    height: 350px;
    margin: 100px 0;
    border-radius: 50%;
    object-fit: cover;
    z-index: -1;
    box-shadow: 4px 0 10px 0 #777, 8px 0 10px 0 #aaa, 12px 0 10px 0 #eee;

}
.description_text{
    flex-basis: 50%;
    padding: 15px 35px 0 20px;
    width: 100%;
}
.greeting{
    letter-spacing: 1.5px;
    font-size: 1em;
    line-height: 1.5;
}
h1{
    font-size: 2.5em;
    letter-spacing: 2.5px;
    margin: 24px 0;
}
h1 span{
    color: var(--maincolor);
}
.smalldescription{
    letter-spacing: 1px;
    color: #555551;
    font-size: 1.2rem;
    min-width: 250px;
    line-height: 1.5;
}
.smalldescription span{
    color: var(--maincolor);
    font-size: 1.2rem;
    font-weight: 550;
}
.socialmedia{
    display: flex;
    margin-top: 30px;
}
.resumelink{
    background: var(--maincolor);
    margin: -13px 0;
    padding: 15px 35px;
    border-radius: 40px;
    letter-spacing: 2.5px;
    font-size: 1rem;
    font-weight: 300;
    display: inline-block;
    transition: box-shadow 0.2s;
    color: #eee;
    text-decoration: none;
}
.resumelink:hover{
    box-shadow: 0 2px 15px 0 #000070;
}
.sociallist{
    margin: 40px 0;
    list-style: none;
    display: flex;
}
.sociallist li a{
    margin: 0 14px;
    padding: 9px 10px;
    background: #fff;
    border-radius: 6px;
    color: var(--maincolor);
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px 0 #777;
}
.sociallist li a:hover{
    box-shadow: 0 2px 15px 0 #000070;
}
.sociallist li a i{
    color:var(--maincolor);
}
.about{
    display: flex;
    flex-direction: column;
    margin: 30px 40px;
}
.title-about{
    margin: 50px 20px;
    padding-top: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.6rem;
}
.information{
    background-color: #fff;
    padding: 30px 10vw;
    border-radius: 50px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    width: 75vw;
    text-align: justify;
    align-self: center;
}
.skills{
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}
.title-skills{
    margin: 50px 20px;
    padding-top: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.6rem;
}
.grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 30px;
    border-radius: 50px;
    list-style: none;
    grid-column-gap: 45px;
    grid-row-gap: 50px;
    width: 75vw;
    align-self: center;
}
.grid_items{
    justify-self: center;
    padding: 10px 4px 5px 4px;
    border-radius: 20px;
    border: 0.5px solid #aaa;
    transition-duration: 0.2s;
}
.grid_items:hover{
    box-shadow: 0 2px 15px 0 #aaa;

}
.grid_items p{
    padding: 1px;
    font-size: 14px;
    text-align: center;
}
.grid_items img{
    width: 50px;
    height: 50px;
    margin: 0 20px;

}
