.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4BB2F2;
    border-bottom: 10px solid #FFF;
    padding: 10px 20px;
}
.container .main-img {
    display: inline-block;
    padding: 18px 20px;
    margin-right: 0;
    width: 50px;
    height: 50px;
}

.main-img:hover{
    transform: scale(1.05);
}

nav{
    text-align: right;
}