.progress-bar{
    box-sizing: border-box;
    background-color: white;
    border: 5px solid #4BB2F2;
    height: 30px;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
    background-color: #4BC3F2;

}