h1{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #FFF;
    text-shadow: 4px 4px 0px #4bb2f2;
}

.title.-second{
    font-size: 40px;
    color:white;
    text-shadow: none;
    text-align: center;
}