
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}
img {
    display: inline-block;
    padding: 18px 20px;
    margin-right: 0;
    width: 50px;
    height: 50px;
}

img:hover{
    transform: scale(1.05);
}

nav{
    text-align: right;
}

